<nav class="navbar bg-base-300 shadow-lg">

    <div class="navbar-start">

        <a href="/" class="btn btn-ghost text-xl">
            Climate Solutions
        </a>

    </div>

    <div class="navbar-center hidden lg:flex">

        <ul class="menu menu-horizontal px-1">

            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/about">About</a>
            </li>

            <li>

                <details>

                    <summary>
                        Sector
                    </summary>

                    <ul class="p-2 bg-base-100 rounded-t-none w-64">

                        <li>
                            <a href="/explorer/solutions?sector=Nature-Based Carbon Removal">
                                Nature-Based Carbon Removal
                            </a>
                        </li>

                        <li>
                            <a href="/explorer/solutions?sector=Transportation">
                                Transportation
                            </a>
                        </li>

                        <li>
                            <a href="/explorer/solutions?sector=Electricity">
                                Electricity
                            </a>
                        </li>

                        <li>
                            <a href="/explorer/solutions?sector=Buildings">
                                Buildings
                            </a>
                        </li>

                        <li>
                            <a href="/explorer/solutions?sector=Food">
                                Food
                            </a>
                        </li>
                    </ul>

                </details>

            </li>
        </ul>
    </div>

    <div class="navbar-end lg:hidden">
        <div class="dropdown dropdown-end">

            <label tabindex="0" class="btn btn-ghost">
                ☰
            </label>

            <ul tabindex="0"
                class="menu dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-60">

                <li>
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="/about">About</a>
                </li>

                <li>
                    <a href="/explorer/solutions?sector=Nature-Based Carbon Removal">
                        Nature-Based Carbon Removal
                    </a>
                </li>

                <li>
                    <a href="/explorer/solutions?sector=Transportation">
                        Transportation
                    </a>
                </li>

                <li>
                    <a href="/explorer/solutions?sector=Electricity">
                        Electricity
                    </a>
                </li>

                <li>
                    <a href="/explorer/solutions?sector=Buildings">
                        Buildings
                    </a>
                </li>

                <li>
                    <a href="/explorer/solutions?sector=Food">
                        Food
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>