<!DOCTYPE html>
<html lang="en" data-theme="dim">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>About</title>

<link href="/css/main.css" rel="stylesheet">
</head>

<body>
<%- include('partials/navbar') %>

<div class="container mx-auto p-6">
<div class="hero bg-base-200 rounded-lg">
<div class="hero-content text-center">

<div>

<h1 class="text-5xl font-bold">
About
</h1>

<p class="py-6">
Learn more about me.
</p>

</div>
</div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-10">

<div>
<img
src="https://images.unsplash.com/photo-1500530855697-b586d89ba3ee"
class="rounded-xl shadow-xl w-full">
</div>

<div>

<h2 class="text-3xl font-bold mb-4">
About Me
</h2>

<p>
Hello! My name is Juwairiyyah Ahmed.
</p>

<br>

<p>
I am currently studying Computer Programming at Seneca Polytechnic.
</p>

<br>

<p>
I enjoy learning web development, JavaScript, Express, databases, and creating responsive web applications.
</p>

<br>

<p>
Outside of school, I enjoy improving my coding skills further.
</p>

</div>
</div>
</div>

</body>
</html>