<!DOCTYPE html>
<html lang="en" data-theme="dim">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Climate Solutions</title>

    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
<%- include('partials/navbar') %>

<div class="container mx-auto p-6">
    
<div class="hero bg-base-200 rounded-xl shadow-lg py-10">
    <div class="hero-content text-center">
        <div>

            <h1 class="text-5xl font-bold">
                Climate Solutions Explorer
            </h1>

            <p class="py-6">
                Explore innovative solutions that help reduce greenhouse gas emissions and protect our environment.
            </p>

            <a href="/explorer/solutions"
               class="btn btn-primary">
                Explore Solutions
            </a>

        </div>
    </div>
</div>

<div>

<h1 class="text-5xl font-bold">
Climate Solutions
</h1>

<p class="py-6">
Explore climate solutions that help reduce greenhouse gas emissions and improve our planet.
</p>

<a href="/explorer/solutions" class="btn btn-primary">
Explore Solutions
</a>

</div>
</div>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-10">
<div class="card bg-base-100 shadow-xl">

<figure>
<img src="https://drawdown.org/sites/default/files/styles/crop_to_square_1080/public/media/FY25_Solutions_Restore%20Forests%20Boreal_2400x2400_0.jpg?itok=isLIdV73"
class="h-64 w-full object-cover">
</figure>

<div class="card-body">

<h2 class="card-title">
Restore Forests
</h2>

<p>
Forest restoration increases carbon storage and reduces greenhouse gases.
</p>

<div class="card-actions justify-end">

<a href="/explorer/solutions/1" class="btn btn-primary">
Details
</a>

</div>
</div>
</div>

<div class="card bg-base-100 shadow-xl hover:shadow-2xl transition">

<figure>
<img src="https://drawdown.org/sites/default/files/styles/crop_to_square_1080/public/media/FY25_Solutions_CementProduction_2400x2400.jpg?itok=iHk3DawS"
class="h-64 w-full object-cover">
</figure>

<div class="card-body">

<h2 class="card-title">
Improve Cement Production
</h2>

<p>
Reduce emissions by improving cement manufacturing processes.
</p>

<div class="card-actions justify-end">

<a href="/explorer/solutions/2" class="btn btn-primary">
Details
</a>

</div>
</div>
</div>

<div class="card bg-base-100 shadow-xl hover:shadow-2xl transition">

<figure>
<img src="https://drawdown.org/sites/default/files/styles/crop_to_square_1080/public/media/FY25_Solutions_Carpooling_2400x2400.jpeg?itok=M9LFO1-z"
class="h-64 w-full object-cover">
</figure>

<div class="card-body">

<h2 class="card-title">
Increase Carpooling
</h2>

<p>
Increase vehicle passengeroccupancy to reduce transportation emissions.
</p>

<div class="card-actions justify-end">

<a href="/explorer/solutions/3" class="btn btn-primary">
Details
</a>

</div>
</div>
</div>
</div>
</div>

</body>

</html>